@page "/inicio"

<PageTitle>Início</PageTitle>

<div class="container mt-5">
    <h1 class="display-4">Sistema de Transações de Cartão de Crédito</h1>
    <p class="lead">
        O sistema permite criar, capturar e cancelar transações de cartão de crédito via interface web, integrando com o Gateway de pagamentos Cielo (sandbox).
    </p>
    <hr class="my-4">
    <h2>Funcionalidades:</h2>
    <ul class="list-group">
        <li class="list-group-item">Criação de Transações: Inserção de detalhes do cartão e valor.</li>
        <li class="list-group-item">Captura de Transações: Confirmação manual de transações autorizadas.</li>
        <li class="list-group-item">Cancelamento de Transações: Reversão de transações autorizadas.</li>
    </ul>
</div>